<div class="sidebar-container">
  <div class="sidebar">
    <ul>
      <li><button routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i></button></li>
      <li><button routerLink="/sales"><i class="fas fa-chart-bar"></i></button></li>
      <li><button routerLink="/catalog"><i class="fas fa-box"></i></button></li>
      <li><button routerLink="/marketing"><i class="fas fa-bullhorn"></i></button></li>
      <li><button routerLink="/cms"><i class="fas fa-file-alt"></i></button></li>
      <li><button routerLink="/settings"><i class="fas fa-cogs"></i></button></li>
      <li><button routerLink="/configure"><i class="fas fa-cog"></i></button></li>
    </ul>
  </div>
</div>
